<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>SocketIO Example</title>
</head>
<body>
    <h1>Waiting for other players</h1>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script>
        const playerid = '{{ playerid }}';
        const gamecode = '{{ gamecode }}';
        const socket = io()

        socket.on('game_start', function (data){
            var gamecode = '{{ gamecode }}';
            if(data.room === gamecode){
                window.location.href = '/mpplacement?gamecode=' + encodeURIComponent(gamecode) + '&playerid=' + encodeURIComponent(playerid)
            }
        })
    </script>




</body>

</html>